/* footer */
footer {
    background-color: rgba(2, 13, 24, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

footer .copyright {
    color: #dadada;
    font-size: 14px;
}

footer .footerlogo {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
}

footer .footerlogo a {
    color: #dadada;
}

@media(max-width:768px){
    footer .footerlogo{
        font-size: 12px;
    }
    
    footer .copyright{
        font-size: 12px;
    }

    footer{
        padding: 10px 20px;
        text-align: center;
    }
}
@media(max-width:530px){
    footer .footerlogo{
        font-size: 10px;
    }
    
    footer .copyright{
        font-size: 10px;
    }

    footer{
        padding: 10px 20px;
        text-align: center;
    }
}