#latest{
    max-width: 1170px;
    margin: 30px auto;
    width: 100%;
}
.latest-heading{
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(2, 13, 24, 0.8);
    border: 1px solid rgba(2, 13, 24, 1);
}
.latest-heading h1{
    color: #dadada;
    font-size: 1.3rem;
    font-weight: 500;
}
.post-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    margin: 20px 0px;
}
.post-box{
    width: 100%;
    height: 550px;
    overflow: hidden;
    background-color: rgba(2, 13, 24, 1);
    border: 1px solid rgba(2, 13, 24, 1);
    box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
    position: relative;
}
.post-box .post-img{
    width: 100%;
    height: 100%;
}
.post-box .post-img img{
    width: 100%;
    height: 100%;
    object-position: top center;
    object-fit: cover;
}
.main-slider-text .movie-name a:hover{
    opacity: 0.5;
    transition: all ease 0.3s;
}
