table {
    border-spacing: 1;
    border-collapse: collapse;
    background: transparent;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    table-layout: fixed;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: transparent;
    font-size: 16px;
    text-align: center;
    color: white;
}

table tbody tr {
    height: 48px;
    border: none;
    color: #747474;
}

table tbody tr:last-child {
    border: 0;
}

table td,
table th {
    text-align: left;
}


@media screen and (max-width: 35.5em) {
    table {
        display: block;
    }

    table>*,
    table tr,
    table td,
    table th {
        display: block;
        
    }

    table thead {
        display: none;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    table tbody tr {
        height: auto;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    table tbody tr td {
        padding-left: 45%;
        margin-bottom: 12px;
    }

    table tbody tr td:last-child {
        margin-bottom: 0;
    }

    table tbody tr td:before {
        position: absolute;
        font-weight: 700;
        width: 40%;
        left: 10px;
        top: 0;
    }

    /* director responsive */
    .director-details table tbody tr td:nth-child(1):before {
        content: "Director";
        color: white;
    }

    .director-details table tbody tr td:nth-child(2):before {
        content: "DOB";
        color: white;
    }

    /* actor-responsive */
    .actor-details table tbody tr td:nth-child(1):before {
        content: "Actor";
        color: white;
    }

    .actor-details table tbody tr td:nth-child(2):before {
        content: "Role";
        color: white;
    }

    .actor-details table tbody tr td:nth-child(3):before {
        content: "DOB";
        color: white;
    }

    /* quotes-responsive */
    .quotes-details table tbody tr td:nth-child(1):before {
        content: "Actor";
        color: white;
    }

    .quotes-details table tbody tr td:nth-child(2):before {
        content: "Role";
        color: white;
    }

    .quotes-details table tbody tr td:nth-child(3):before {
        content: "Quotes";
        color: white;
    }
}